h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
}

body {
  font-family: Roboto;
}

.titulo-web {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.card-con-fondo {
  background-image: url(https://picsum.photos/id/26/1500/300/);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: auto;
}

.imagen-tarjeta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-about {
  background-color: rgb(247, 247, 247);
}